



$mColor : #10a09f;
$sColor : #9b59b6;
$pColor : #666;
$tColor : #e7ab23;
*
{
    box-sizing: border-box;
    font-family: Nunito;
    font-weight: bold;
}
body
{
    height: 9000px;
}
li
{
    cursor: pointer;
}

.hover
{
    transition: all ease-in-out .3s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0);
        transition: ease-in-out .2s;
        z-index: -1;
    }
    &:hover
    {
        color: #fff !important;
    }
    &:hover::after
    {
        transform: scale(1.1);
        background: $mColor;
    }
}

@media (max-width: 991px)
{
    .text-md-center
    {

        text-align: center !important;
    }
}
@media (max-width: 767px) {

    .text-sm-center
    {

        text-align: center !important;
    }
}
@media (max-width: 480px)
{
    .order-xs-2
    {
        order: 2;
    }
    .order-xs-1
    {
        order: 1;
    }
    
}
.special-h
{
    background: #222;
    color: $mColor;
    transition: ease-in-out .3s;
}
.section-hover
{
    &:hover >h2
    {
        
        color: $tColor;
    }
    
}
%trans
{
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.navbar-light
{
    background: #222;
    transition : all ease-in-out .3s;
    .navbar-brand
    {
        color: #fff;
        @extend %trans;
        &:hover
        {
            color: $mColor;
        }
    }
    .fa-bars
    {
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }
    .navbar-nav
    {
        .nav-item
        {
            
            .nav-link
            {
                color: #fff !important;
                
            }
            &.active>.nav-link
            {
                color: $mColor !important;
            }
        }
    }
    form
    {
        button
        {
            border: 1px solid $mColor;
            color: $mColor;
            @extend %trans;
            cursor: pointer;
            &:hover
            {
                background: $mColor;
                border: 1px solid $mColor;
                color: #fff;
            }
        }
    }
}
.pages-options,
.port-options
{
    position: fixed;
    top: 100px;
    opacity: 0;
    width: 80%;
    left: 10%;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 5px solid $mColor;
    padding-left: 10px;
    @extend %trans;
    z-index: -1;
    .row
    {
        
        .itemes
        {
            h4
            {
                margin-top: 20px;
                margin-bottom: 20px;
                color: $mColor;
            }
            ul
            {
                list-style: none;
                padding: 0;
                li
                {
                    color: #494949;
                    padding: 5px 5px 10px;
                }
            }
        }
    }
    
}
.shop-options,
.blog-options
{
    position: fixed;
    top: 100px;
    opacity: 0;
    width: 250px;
    left: 40%;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 5px solid $mColor;
    @extend %trans;
    z-index: -1;
    >ul
    {
        list-style: none;
        padding: 10px 0 0 10px;
        >li
        {
            color: #494949;
            padding: 5px 5px 10px;
            @extend %trans;
            padding-left: 10px;
            position: relative;
            &:hover
            {
                background: $mColor;
                color: #fff;
                padding-left: 15px;
            }
            
            &::before
            {
                content: "\f054";
                font-family: "fontawesome";
                position: relative;
                top: 1px;
                left: 90%;
            }
            
            
        }
        .column
        {
            
            a
            {
                display: block;
            }
            ul
            {
                list-style: none;
                display: block;
                position: absolute;
                top: 0;
                left: 100%;
                color: #222;
                border: 1px solid #ddd;
                border-left: 5px solid #10a09f;
                display: none;
                padding: 8px 30px 0 5px ;
                min-width: 200px;
                @extend %trans;
                background: #fff;
                li
                {
                    color: #494949;
                    padding: 5px 5px 5px 10px;
                    @extend %trans;
                    padding-left: 10px;
                    &:hover
                    {
                        background: $mColor;
                        color: #fff;
                        padding-left: 15px;
                    }
                }
                
            }
            &:hover ul
            {
                display: block;
            }
        }
    }
}

.nav-active
{
    top : 70px;
    opacity : 1;
}

/*Start Slider*/
.slider
{
    width: 100%;
    position: relative;
    
    .carousel
    {
        .carousel-inner
        {
            .carousel-item
            {
                
                .overlay
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,.5);
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    z-index: 9;
                    p
                    {
                        font-size: 5vmax;
                    }
                }
                &:first-of-type
                {
                    .image
                    {
                        background: url("../image/background.jpg") no-repeat center center;
                        background-size: cover;
                        animation: anim1 20s ease-in-out infinite;
                    }
                }
                &:nth-of-type(2)
                {
                    .image
                    {
                        background: url("../image/background2.jpg") no-repeat center center;
                        background-size: cover;
                        animation: anim1 20s ease-in-out infinite;
                    }
                }
                &:nth-of-type(3)
                {
                    .image
                    {
                        background: url("../image/background5.jpeg") no-repeat center center;
                        background-size: cover;
                        animation: anim1 20s ease-in-out infinite;
                    }
                }
                
            }
        }
        
        .carousel-indicators 
        {
            li
            {
                width: 15px;
                height: 12px;
                border-radius: 1px;
                transition: all ease-in-out .5s;
                &.active
                {
                    background: $mColor;
                }
            }
        }
    }
    
}
.carousel-control-prev,
.carousel-control-next 
{
    transition: all ease-in-out .5s;
    .fa-chevron-left,
    .fa-chevron-right
    {

        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        background: rgba(0,0,0,.5);
        border-radius: 7px;
        transition: all ease-in-out .5s;
        &:hover
        {
            color: $mColor;
        }
    }
}
/*End Slider*/


/*Start About-US*/
.about-us
{
    .img-thumbnail
    {
        border-top: 0;
        padding-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #cfcfcf;
        border-color: #5c5c5c;
    }
    p
    {
        line-height: 2;
        color: $pColor;
    }
}
/*End About-US*/

/*Start services*/
.services
{
    
    .container
    {
        
        .row
        {
            p
            {
                color: $pColor;
                line-height: 2;
            }
            .image
            {
                overflow: hidden;
                transition: all ease-in-out .5s;
                &.img-thumbnail
                {
                    border-top: 0;
                    padding-top: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom: 0;
                    padding-bottom: 0;
                    background-color: #d5d5d5;
                    border-color: #5c5c5c;
                    border-bottom-right-radius: 500%;
                }
                img
                {
                    transition: all ease-in-out .3s;
                    &:hover
                    {
                        transform: scale(1.5) rotateZ(10deg);
                    }
                }
                &:hover
                {
                    transform: rotateZ(10deg);
                }
            }
            
            &:first-of-type
            {
                .image
                {
                    &.img-thumbnail
                    {
                        border-right: 0;
                        padding-right: 0;
                    }
                }
            }
            &:nth-of-type(2)
            {
                .image
                {
                    &.img-thumbnail
                    {
                        border-bottom-right-radius: 5px;
                        border-top-left-radius: 100%;
                        border-bottom-left-radius: 100%;
                        padding-top: 0;
                        padding-left: 0;
                        padding-bottom: 0;
                        border-top: 0;
                        border-left: 0;
                        border-bottom: 0;
                    }
                    
                }
            }
            &:nth-of-type(3)
            {
                .image
                {
                    &.img-thumbnail
                    {
                        border-top-right-radius: 200%;
                        border-bottom-right-radius: 0;
                        padding-top: 0;
                        padding-right: 0;
                        border-top: 0;
                        border-right: 0;
                    }
                    
                    &:hover
                    {
                        transform: rotateZ(-10deg);
                    }
                }
            }
            
        }
    }
    @media (max-width: 767px) {

        .image
        {
            &.img-thumbnail
            {
                border-radius: 5px !important;
                border-bottom: 1px solid #222 !important;
                border-right: 1px solid #222 !important;
                border-left: 1px solid #222 !important;
                padding-bottom: 5px !important;
                padding-right: 5px !important;
                padding-left: 5px !important;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
            }
        }
    }
}
/*End services*/

/*Start What Clients Say*/
.clients
{
    width: 100%;
    min-height: 400px;
    background: url("../image/background5.jpeg") no-repeat fixed;
    background-size: cover;
    position: relative;
    padding: 50px 0;
    .overlay
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
    }
    .what-they-say
    {
        height: 100%;
        .carousel
        {
            height: 100%;
            .carousel-inner
            {
                height: 100%;
                .carousel-item
                {
                    color: #fff;
                    height: 100%;
                    .row
                    {
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        .image
                        {
                            text-align: right;
                            img
                            {
                                width: 200px;
                                height: 200px;
                                border-radius: 20px;
                            }
                        }
                        .content
                        {
                            margin: 0 auto;
                            p
                            {
                                line-height: 2;
                                width: 75%;
                                text-align: left;
                                padding-bottom: 20px;
                            }
                            h5
                            {
                                color: $mColor;
                                width: 200px;
                                padding: 10px 0;
                                border-radius: 10px;
                                font-weight: bold;
                                letter-spacing: 1.7px;
                            }
                        }
                        @media (max-width: 767px) 
                        {
                            .image
                            {
                                text-align: center;
                            }
                            .content
                            {
                                p,h5
                                {
                                    margin: 0 auto;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*End What Clients Say*/


/*Start Animations */
@keyframes anim1 {
    
    0% { transform: scale(1)}
    50% { transform: scale(1.2)}
    100% { transform: scale(1)}
}
/*End Animations */

/*Start pricing */
.our-pricing
{
    .row
    {
        @media (min-width: 768px) and (max-width: 991px) {

            .cloud
            {
                flex-basis: 60%;
                margin: 0 auto;
            }
        }
        .item
        {
            border: 1px solid #ddd;
            overflow: hidden;
            position: relative;
            border-top: 5px solid $mColor;
            margin: 100px 0;
            
            .price
            {
                background: $tColor;
                color: #fff;
                position: relative;
                padding: 30px 0;
                border-bottom: 5px solid $tColor;
                transition: all ease-in-out .2s;
                h2
                {
                    font-size: 70px;
                    span
                    {
                        font-size: 30px;
                    }
                }
                p
                {
                    font-size: 3vmax;
                }
                .payment
                {
                    ul
                    {
                        li
                        {
                            display: inline-block;
                            margin-right: 10px;
                            transition: all ease-in-out .3s;
                            &:hover
                            {
                                color: #444;
                            }
                        }
                    }
                }
            }
            .info
            {
                border-bottom: 5px solid $mColor;
                transition: all ease-in-out .2s;
                ul
                {
                    li
                    {
                        padding: 20px 0;
                        border-bottom: 1px solid #efefef;
                        cursor: auto;
                        span
                        {
                            font-weight: normal;
                        }
                        &:last-of-type
                        {
                            border-bottom: 0;
                        }
                    }
                }
                button
                {
                    padding: 10px 80px;
                    color: #fff;
                    background: $mColor;
                    border: $mColor;
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                    cursor: pointer;
                    margin: 0 auto;
                    &:hover::after
                    {
                        background: $tColor !important;
                        transition: .5s !important;
                    }
                    
                }
                &:hover
                {
                    border-bottom-color: $tColor;
                }
            }
            &:hover
            {
                .price
                {
                    border-bottom: 5px solid $mColor;
                }
            }
            &.item-best
            {
                transform: translateY(-25px);
                border-top: 5px solid $tColor;
                .price
                {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    background-color: $mColor;
                    border-bottom: 5px solid $mColor;
                    &:hover
                    {
                        border-bottom: 5px solid $tColor;
                    }
                }
            }
        }
    }
}
/*End pricing */

/*Start portfolio*/
.portfolio
{
    ul
    {
        padding: 50px 0 0;
        li
        {
            display: block;
            background: #fff;
            border: 2px solid $mColor;
            color: $mColor;
            padding: 5px 20px;
            border-radius: 3px;
            margin-bottom: 13px;
            transition: all ease-in-out .3s;
            position: relative;
            z-index: 1;
            overflow: hidden;
            &::after
            {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: scale(0);
                transition: ease-in-out .2s;
                z-index: -1;
            }
            &:hover
            {
                color: #fff;
            }
            &:hover::after
            {
                transform: scale(1.1);
                background: $mColor;
            }
            &.active
            //&:hover
            {
                color: #fff;
                background: $mColor;
            }
        }
    }
    @media (max-width: 767px)
    {
        ul
        {
            text-align: center;
            li
            {
                
            }
        }
    }
    .items
    {
        .mix
        {
            margin-bottom: 20px;
            display: none;
            .image
            {
                height: 100%;
                border: 1px solid $mColor;
                border-radius: 5px;
                position: relative;
                .overlay
                {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(16, 160, 159, 0.5);
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @extend %trans;
                    opacity: 0;
                    button
                    {
                        border: 2px solid #fff;
                        color: #fff;
                        background: transparent;
                        padding: 5px 10px;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: all ease-in-out .3s;
                        position: relative;
                        z-index: 1;
                        overflow: hidden;
                        &::after
                        {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            transform: scale(0);
                            transition: ease-in-out .2s;
                            z-index: -1;
                        }
                        &:hover
                        {
                            color: $mColor;
                        }
                        &:hover::after
                        {
                            transform: scale(1.1);
                            background: #fff;
                        }
                    }
                    i
                    {
                        cursor: pointer;
                        font-size: 20px;
                    }
                    span
                    {
                        position: absolute;
                        bottom: 15px;
                    }
                    .like
                    {
                        left: 20px;
                        i
                        {
                            &:hover
                            {
                                color: #e74242;
                            }
                        }
                    }
                    .download
                    {
                        right: 20px;
                        i
                        {
                            &:hover
                            {
                                color: #000000;
                            }
                        }
                    }
                }
                img
                {
                    width: 100%;
                    height: 100%;
                }
                &:hover .overlay
                {
                    opacity: 1;
                }
            }
                
            button
            {
                width: 30%;
                background: #fff;
                border: 1px solid $mColor;
                color: $mColor;
                padding: 5px 20px;
                border-radius: 5px;
                cursor: pointer;
            }
            
        }
    }
}
/*End portfolio*/

/*Start statistics*/
.statistics
{
    min-height: 400px;
    background: url("../image/background5.jpeg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    color: #fff;
    .overlay
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
    }
    .row
    {
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        justify-item: flex-start;
    }
    .content
    {
        text-align: center;
        i
        {
            font-size: 70px;
            display: block;
            margin-bottom: 20px;
        }
        .num
        {
            display: block;
            font-size: 30px;
        }
        .user
        {
            display: block;
        }
        &:first-of-type
        {
            margin-top: 50%;
        }
    }
}
/*End statistics*/

/*Start contact-us*/
.contact-us {
  background: url("../image/background2.jpg") no-repeat center center ;
  background-size: cover;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-us .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.contact-us textarea {
    resize: none;
}
/*End contact-us*/

/*Start footer*/
footer
{
    background: #222;
    padding: 50px 0;
    color: #fff;
}

footer ul.contact-info li 
{
    color: #aaa;
}
footer ul.contact-info li.icons
{
}
footer ul.contact-info li.icons li
{
    background: #fff;
    width: 30px;
    text-align: center;
}
.fa-facebook
{
    color: #3b5998 !important;
}
footer ul.contact-info li.icons li.fa-facebook:after
{
    background: #3b5998;
}
.fa-twitter
{
    color: #1da1f2 !important;
}
footer ul.contact-info li.icons li.fa-twitter:after
{
    background: #1da1f2;
}
.fa-linkedin
{
    color: #8d6cab !important;
}
footer ul.contact-info li.icons li.fa-linkedin:after
{
    background: #8d6cab;
}
.fa-instagram
{
    color: #f77737 !important;
}
footer ul.contact-info li.icons li.fa-instagram:after
{
    background: #f77737;
}
footer ul.contact-info li.icons li.hover:hover
{
    border: 0;
}
footer
{
    font-size: 15px;
}
footer li
{
    cursor: auto;
}
footer li.fa
{
    cursor: pointer;
}
footer p
{
    color: #aaa;
}
.latest .media-body p span
{
    color: #fff;
}
.latest .media-body > span
{
    font-size: 13px;
}
footer .newsletter ul li
{
    display: inline-block;
    width: 70px;
    height: 50px;
}

/*
// x-Large 
@media (min-width: 1200px) {

}

// larg  
@media (min-width: 992px) and (max-width: 1199px) {

}

// medium  
@media (min-width: 768px) and (max-width: 991px) {

}

// small
@media (max-width: 767px) {

}

// x-small 
@media (max-width: 480px) {




*/










